* {
    padding: 0;
    margin: 0;
  
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 350px;
    height: 90px;
    width: 100%;
  }

  header > div {
    display: flex;
    align-items: center;
    gap: 56px;
  }

  header > div > a > p {
    color: #1B1A1A;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
  }

  .button {
    background-color: #000000;
    color: #ffffff;
    width: 155px;
    height: 46px;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .architectureHouse {
    height: 720px;
    background-color: #ECE7E4;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .architectureHouse > img {
    margin-left: 100px;
  }

  .text {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .text1 {
    color: #645C55;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .text > h1 {
    color: #1B1A1A;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 64px;
    line-height: 70.4px;
  }

  .text2 {
    color: #403E3B;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .button1{
    margin-left: 40px;
    color: #1B1A1A;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
  }

  .white {
    height: 720px;
    display: flex;
    justify-content: center;
    gap: 170px;
    margin-top: 100px;
  }

  .white > h1 {
    color: #403E3B;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
  }

  .text3 {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .text3 > p {
    color: #403E3B;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .stephen {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .t1 {
    color: #1B1A1A;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
  }

  .t2 {
    color: #645C55;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
  }

  .ReadingHouse {
    background-image: url("img/fon1.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: end;
    flex-direction: column;
  }

  .ReadingHouse > div {
    margin-right: 100px;
  }

  .ReadingHouse > div > h1 {
    color: #403E3B;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .ReadingHouse > div > p {
    color: #645C55;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .white1 {
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }

  .white1 > p {
    color: #645C55;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .white1 > h1 {
    color: #1B1A1A;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 39px;
    line-height: 42px;
  }

  .shtuki {
    display: flex;
    gap: 100px;
  }

  .x1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }

  .x1 > h1 {
    color: #403E3B;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
  }

  .x1 > p {
    color: #645C55;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
  }

  .x2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }

  .x2 > h1 {
    color: #403E3B;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
  }

  .x2 > p {
    color: #645C55;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
  }

  .x3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }

  .x3 > h1 {
    color: #403E3B;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
  }

  .x3 > p {
    color: #645C55;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
  }

  .marble {
    background-image: url("img/fon2.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: end;
    flex-direction: column;
  }

  .marble > div {
    margin-right: 100px;
  }

  .marble > div > h1 {
    color: #403E3B;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .marble > div > p {
    color: #645C55;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .brown {
    height: 410px;
    background-color: #403E3B;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
  }

  .text4 {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .text4 > div > p {
    color: #ECE7E4;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .text4 > div > h1 {
    color: #FFFFFF;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
  }

  .text4 > p {
    color: #ECE7E4;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
  }

  .images {
    width: 432px;
    height: 290px;
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    margin-bottom: -70px;
  }

  .staircase {
    background-image: url("img/fon3.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
  }

  .staircase > div {
    margin-left: 100px;
  }

  .staircase > div > h1 {
    color: #403E3B;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .staircase > div > p {
    color: #645C55;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .projects {
    height: 918px;
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .text5 {
    margin-right: 590px;
  }

  .text5 > h1 {
    color: #1B1A1A;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 39px;
    line-height: 42px;
  }

  .text5 > p {
    color: #645C55;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
  }

  .images1 {
    display: flex;
    gap: 20px;
  }

  .projects > a > p {
    color: #1B1A1A;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
  }

  .team {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .text6 {
    width: 378.66px;
    height: 392px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .text6 > h1 {
    color: #403E3B;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
  }

  .text6 > p {
    color: #645C55;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
  }

  .text6 > a > p {
    margin-left: 20px;
    color: #1B1A1A;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
  }

  .cheloveki {
    width: 773.33px;
    height: 392px;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    margin-bottom: -40px;
  }