* {
    padding: 0;
    margin: 0;
  
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 350px;
    height: 90px;
    width: 100%;
  }

  header > div {
    display: flex;
    align-items: center;
    gap: 56px;
  }

  header > div > a > p {
    color: #1B1A1A;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
  }

  .button {
    background-color: #000000;
    color: #ffffff;
    width: 155px;
    height: 46px;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .architectureHouse {
    height: 720px;
    background-color: #ECE7E4;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .architectureHouse > img {
    margin-left: 100px;
  }

  .text {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .text1 {
    color: #645C55;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .text > h1 {
    color: #1B1A1A;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 64px;
    line-height: 70.4px;
  }

  .text2 {
    color: #403E3B;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .button1{
    margin-left: 40px;
    color: #1B1A1A;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
  }

  .white {
    height: 720px;
    display: flex;
    justify-content: center;
    gap: 170px;
    margin-top: 91px;
  }

  .white > h1 {
    color: #403E3B;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
  }

  .text3 {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .text3 > p {
    color: #403E3B;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .stephen {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .t1 {
    color: #1B1A1A;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
  }

  .t2 {
    color: #645C55;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
  }